/**{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*.window{*/
    /*width: 300px;*/
    /*margin: 0 auto;*/
    /*height: 225px;*/
    /*overflow:hidden;*/
/*}*/
/*.images{*/

    /*position: relative;*/
/*}*/
/*.images img{*/
    /*width: 100%;*/
    /*transition:all 1s*/
/*}*/
/*.images img:nth-child(1){*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/

/*}*/
/*.images img:nth-child(2){*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:100%;*/
/*}*/
/*.images img:nth-child(3){*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:100%;*/
/*}*/
/*.images img.right{*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:100%;*/


/*}*/

/*第一次优化*/
*{
    margin: 0;
    padding: 0;
}
.window{
    width: 300px;
    margin: 0 auto;
    height: 225px;
    overflow:hidden;
}
.images{

    position: relative;
}
.images img{
    width: 100%;
    transition:all 1s;
    position: absolute;
}
.images>img.current{
    left:0;
    transform:translateX(0);
    z-index:1;
}
.images>img.leave{
    transform:translateX(-100%);
    z-index:1;
}
.images>img.enter{
    /* z-index:1; */
    transform:translateX(100%);
}